fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.39
pydantic==2.10.6
pydantic-settings==2.8.1
python-multipart==0.0.20
pymysql==1.1.1
ultralytics==8.3.74
opencv-python==4.11.0.86
numpy==2.1.1
